<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>GENRE: <%= movie.genre %></p>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        
        <a class="btn btn-primary" href="/movies/edit/<%= movie.id %>" role="button">Editar película</a>
        <a class="btn btn-danger" href="/movies/delete/<%= movie.id %>" role="button">Borrar película</a>
        <a class="btn btn-success" href="/movies <%= movie.id %>" role="button">Volver al listado de películas</a>
        
    
    </section>

</body>
</html>